<% if flash[:my_errors] %>
  <% flash[:my_errors].each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>

<%= form_for @building do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br><br>

    <%= f.label :address %><br>
    <%= f.text_field :address %><br><br>

    <%= f.label :country %><br>
    <%= f.text_field :country %><br><br>

    <%= f.label :rent_per_floor %><br>
    <%= f.number_field :rent_per_floor %><br><br>

    <%= f.label :number_of_floors %><br>
    <%= f.number_field :number_of_floors %><br><br>

    <%= f.submit %>
<% end %>